<!DOCTYPE html>
<html>
  <body>
    <h2>HTML Forms</h2>

    <form action="/userinput" method="POST">
      Aptitude Score:<br />
      <input type="number" name="aptitude" />
      <br />
      Soft Skills:<br />
      <input type="number" name="softskills" />
      <br />
      University Tier:<br />
      <input type="number" name="ur" />
      <br />
      CGPA:<br />
      <input type="number" name="cgpa" />
      <br />
      Domain Knowledge:<br />
      <input type="number" name="domainknowledge" />
      <br />
      <br /><br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
